@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
    box-sizing: border-box;
}

.container ul{
    display: flex;
    gap: 20px;
    list-style: none;
    cursor: pointer;
    justify-content: end;
    padding-right: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.btn{
    border: none;
    margin-top: 12px;
    padding: 12px;
    font-weight: bolder;
    border-radius: 12px;
    transition: 0.5s ease-in-out;
    font-size: 1rem;
    font-family: "Space Mono", monospace;
    text-decoration: none;
}
.btn:hover {
    background-color: #b2b2b6;
    transform: Scale(1.01);
    color: aliceblue;
    box-shadow:  rgb(43, 41, 41) 2px 2px;
}



.top-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    margin: 20px 20px;
}

.hr {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    width: 20% auto;
    margin: 50px 50px;
    border: 2px solid green;
}

.sec {
    margin: 20px 20px;
}

.li{
    list-style: none;
    font-weight: 700;
}
.ul{
    margin-block: 20px;
}